#login

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

script(src='/javascript/susemanager-login.js', type='text/javascript')
script(src='/javascript/manager/login/login.renderer.bundle.js', type='text/javascript')

script(type='text/javascript').
    pageRenderers.login.loginRenderer(
        'login',
        {
            urlBounce: "#{url_bounce}"
        }
    );
