include /templates/common.jade

#login

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

script(src='/javascript/susemanager-login.js', type='text/javascript')
script(src='/javascript/manager/login/login.renderer.bundle.js', type='text/javascript')

div#init_data_url_bounce(style="display: none")
    | #{url_bounce}

script(type='text/javascript').
    pageRenderers.login.renderer(
        'login',
        {
            isUyuni: JSON.parse("#{isUyuni}"),
            urlBounce: document.getElementById('init_data_url_bounce').textContent,
            validationErrors: JSON.parse('!{validationErrors}'),
        }
    );
